footer {
    display: block;
    padding: 20px;
    background-color: #343b41;
    color: white;
}

.icons {
    float: right;
    margin-top: -10px;
    padding-right: 10px;
}

.contact {
    background-color: #343b41;
    border: none;
    color: #fff;
    cursor: pointer;
}

.contactphone {
    border: none;
    color: #fff;
    background-color: #343b41;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}